-e git+http://github.com/django-nonrel/djangotoolbox@toolbox-1.3#egg=djangotoolbox
-e git+http://github.com/django-nonrel/djangoappengine@appengine-1.3#egg=djangoappengine
-e git+http://github.com/django-nonrel/django-dbindexer@dbindexer-1.3#egg=django-dbindexer
-e git+http://github.com/django-nonrel/django@nonrel-1.3#egg=django-nonrel
-e hg+http://bitbucket.org/twanschik/django-autoload#egg=django-autoload
