{% extends 'base.html' %}
{% block title %}It works!{% endblock %}

{% block content %}
<h1>It works!</h1>
<p>
Your Django-nonrel installation is working fine. Now go and build something useful with it. :)
</p>

<p>
If you'd like to learn more about using Django-nonrel take a look at the <a href="http://readthedocs.org/docs/django-nonrel">documentation</a>.
You may also want to follow the <a href="https://github.com/django-nonrel">project on GitHub</a> or subscribe to its <a href="https://groups.google.com/group/django-non-relational">google group</a> so you don't miss any new features and improvements.
</p>

<p>
If you're new to Django you should take a look at the <a href="http://docs.djangoproject.com/">Django documentation</a> and the <a href="http://www.djangobook.com/">Django book</a>.
You'll also find <a href="http://djangosnippets.org/">djangosnippets</a> very useful.
</p>

<p>
If you search for reusable apps that work with Django-nonrel here's a list to get you started:
</p>

<ul>
  <li><a href="https://github.com/django-nonrel/django-dbindexer">django-dbindexer</a>: Emulates extra database features beyond its native API (filters like __iexact, __endswith and simple JOINs); those features are used by some Django modules (admin, auth)</li>
  <li><a href="https://github.com/django-nonrel/django-permission-backend-nonrel">django-permission-backend-nonrel</a>: Authentication backend that works with non-relation databases</li>
  <li><a href="https://github.com/django-nonrel/nonrel-search">nonrel-search</a>: A simple full-text search engine for App Engine and other non-relational DBs</li>
  <li><a href="http://readthedocs.org/docs/django-nonrel/en/latest/content/django-mediagenerator%20asset%20manager.html">django-mediagenerator</a>: Combines and compresses your JS and CSS files</li>
  <li><a href="http://readthedocs.org/docs/django-nonrel/en/latest/content/django-filetransfers%20-%20File%20upload-download%20abstraction.html">django-filetransfers</a>: Generic API for file uploads/downloads (e.g. via App Engine Blobstore)</li>
  <li><a href="http://readthedocs.org/docs/django-nonrel/en/latest/content/All%20Buttons%20Pressed%20-%20CMS%20&amp;%20blog%20for%20Django-nonrel.html">allbuttonspressed</a>: The simple CMS/blog that powers the original <a href="http://www.allbuttonspressed.com">Django-nonrel website</a></li>
  <li><a href="https://github.com/django-nonrel">...and other nonrel projects...</a></li>
</ul>

<p>
Most of core Django (including contrib modules) works with nonrelational backends, notable exceptions are:
</p>

<ul>
  <li>cascade deletes (may be reenabled, but are not currently properly supported)</li>
  <li>JOINs are limited to simple cases</li>
  <li>Django's transactions API</li>
  <li>contrib.auth user groups and permissions (use the nonrel permission-backend)</li>
  <li>to be able to edit users through contrib.admin you need to add djangotoolbox to INSTALLED_APPS</li>
  <li>contrib.flatpages also needs a small workaround</li>
  <li>some backends have some additional limitations (ManyToMany and Image fields and a few lookup methods on the Google App Engine)</li>
</ul>

<p>
Finally, take a look at the apps listed on <a href="http://djangopackages.com/">Django Packages</a>. Many simple Django apps (e.g., <a href="https://bitbucket.org/ubernostrum/django-registration">django-registration</a>) should work unmodified. If you want to use <a href="http://robhudson.github.com/django-debug-toolbar/">django-debug-toolbar</a> you need to disable the SQLDebugPanel in your settings.
</p>
{% endblock %}
